<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766554364500-7opco91grq70obi2dugh6h6nedbpi4n1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766554364500-7opco91grq70obi2dugh6h6nedbpi4n1</string>
	<key>API_KEY</key>
	<string>AIzaSyDTVdGyzBi5xx-_T1J-1Ax3V_RGidnlKlE</string>
	<key>GCM_SENDER_ID</key>
	<string>766554364500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samyakbvs.neuroequlibrium</string>
	<key>PROJECT_ID</key>
	<string>migraine-app-7f89f</string>
	<key>STORAGE_BUCKET</key>
	<string>migraine-app-7f89f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766554364500:ios:ec1a1a6f4ddf43be2aabc1</string>
	<key>DATABASE_URL</key>
	<string>https://migraine-app-7f89f.firebaseio.com</string>
</dict>
</plist>